/* Navigation 
================================================= */


.navbar-brand,
.menu-link {
    letter-spacing: 3.5px;   
}

/* Main Content 
=================================================== */


.bg-1 {
    background: #1abc9c;
    color: #fff;
}

.bg-1 h1 {
    font-size: 4rem;
    padding: 4%;
}

.bg-1 p {
    font-size: 3rem;
    padding: 4%;
}

.bg-2 {
    background: #474e5d;
    color: #fff;
    padding: 4%;
}

.bg-2 p {
    padding: 2%;
    font-size: 1.7rem;
}

.bg-3 h2 {
    padding: 4% 0 2% 0;
}

.bg-3 p {
    padding: 4%;
    font-size: 1.7rem;
}

/* Footer 
==================================================== */